<a href="https://colab.research.google.com/github/Faayiiiz/prime-numbers/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=4
b=5
print(a+b)

9

In [2]:
a= int(input("enter the first number:"))
b= int(input("enter the second number"))
print(a+b)

enter the first number:3
enter the second number6
9

In [5]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))

if a < b:
    print("first number is less than second")
elif a < b:
  print("first number is greater than second")
else:
  print("first number is equal to second")

enter the first number:8
enter the second number:9
first number is less than second

In [9]:
number =int(input())


print("multiplication table for", number,":")
for i in range(1,11):
  result = number * i
  print(f"{number} x {i} = {result}")

6
multiplication table for 6 :
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60